.title {
  h1 {
    color: var(--clr-primary);
    margin-top: 100px;
    text-align: center;
    font-size: var(--step-4);
  }
  h2 {
    text-align: center;
    font-size: var(--step-3);
  }
  img {
    margin-block: 50px;
  }
}

.panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: var(--clr-white);
  min-height: 100vh;
  justify-content: center;
  & > div {
    display: flex;
    flex-direction: column;
    padding: 30px;
    & > h3 {
      margin-bottom: 20px;
      font-size: var(--step-2);
    }
    &:nth-child(3n + 1) {
      border: 2px solid var(--clr-gray);
    }
    &:nth-child(2) {
      background-color: var(--clr-gray);
      color: var(--clr-white);
    }
    &:nth-child(3) {
      background-color: var(--clr-gray);
      color: var(--clr-white);
    }
    & > ul {
      padding-inline-start: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .panel {
    grid-template-columns: repeat(auto-fit, minmax(300px, 50%));
  }
}
