.container {
  --height: 100px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-inline: 50px;
  max-width: 1700px;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: var(--font-secondary);
  width: 100%;
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    aspect-ratio: 1 / 4.19;
    z-index: 51;
    width: #{'clamp(175px, 20vw, 250px)'};
    max-height: var(--height);
  }

  //Transition on menu and its elements
  input[type='checkbox']:checked {
    & ~ nav {
      left: 0;

      & > ul > li {
        opacity: 1;
      }
    }
  }
}
