.container {
  max-width: 1500px;
  min-height: 100%;
  margin-inline: auto;
  padding-inline: 30px;
  position: relative;

  overflow: unset;
}
.overflow {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    padding-inline: 50px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1700px;
  }
}
