.title {
  h1 {
    color: var(--clr-primary);
    margin-top: 100px;
    text-align: center;
    font-size: var(--step-4);
  }
  h2 {
    text-align: center;
    font-size: var(--step-3);
  }
}

.star {
  color: var(--clr-secondary);
  font-size: var(--step-2);
  margin-right: 10px;
}

.bottom {
  display: flex;
  justify-content: center;
  .stepTitle {
    color: var(--clr-primary);
  }
  .form {
    flex: 1 0 70%;
    min-width: 300px;
    margin-bottom: 100px;
    .stepOne {
      &Group {
        margin-block: 50px;
      }
      &Label {
        display: flex;
        flex-direction: column;
        &Text {
          margin-bottom: 25px;
          font-weight: 700;
          font-size: var(--step-0);
        }
      }
      &Input {
        width: 100%;
        background: var(--clr-white);
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
        padding: 13px 17px;
        border: 0;
        transition: box-shadow 0.2s ease-out;
        &:focus,
        &:focus-visible,
        &:active {
          outline: none;
          border: 0;
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1), inset 0 -4px 0 var(--clr-lightgray);
        }
        &Success {
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1), inset 0 -4px 0 var(--clr-primary);
        }
        &Error {
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1), inset 0 -4px 0 var(--clr-error);
        }
        &Disabled {
          opacity: 0.5;
          background-color: var(--clr-lightgray);
          color: var(--clr-black);
        }
      }
      &Error {
        color: var(--clr-error);
      }
      &Button {
        cursor: pointer;
        background-color: var(--clr-primary);
        padding: 10px;
        border: 0;
        color: var(--clr-white);
        text-transform: uppercase;
        transition: all 0.3s ease-out;
        &:disabled {
          background-color: var(--clr-lightgray);
          color: var(--clr-white);
          cursor: not-allowed;
        }
        &:last-of-type {
          background-color: var(--clr-error);
        }
      }
      &Submit {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .bottom {
    .form {
      padding: 65px var(--space-l-xl);
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    }
  }
}
