.center {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.form {
  display: grid;
  row-gap: 50px;
  position: relative;
  width: #{'min(500px, 100% - 2rem)'};

  &Input {
    display: grid;
  }
}
