{
  "extends": [
    "plugin:react/recommended",
    "react-app",
    "react-app/jest",
    "plugin:css-modules/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "settings": {
    "import/ignore": [".css$", ".scss$", "node_modules/*"]
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["css-modules", "react"]
}
