{
  "extends": ["plugin:react/recommended", "react-app", "react-app/jest", "plugin:css-modules/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "settings": {
    "import/ignore": [".css$", ".scss$", "node_modules/*"]
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["css-modules", "react"],
  "rules": {
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/anchor-has-content": "off",
    "css-modules/no-undef-class": "off"
  }
}
