.container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  margin-bottom: 50px;

  .top {
    display: flex;
    max-width: 1200px;
    gap: 90px;
    .newsInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .description {
        display: none;
      }
    }
    .undraw {
      display: none;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: minmax(auto, 500px);
    justify-content: center;
    grid-template-rows: #{'clamp(200px, 50vw, 250px)'} auto;
    flex: 0 0 100%;
    .content {
      background-color: var(--clr-gray);
      padding: #{'clamp(1.5rem, 5vw, 40px)'};
      border-radius: 0 0 30px 30px;
      color: #fff;
      position: relative;
      z-index: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 40px;
    }
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px 30px 0 0;
    }
  }
  .button {
    margin-inline: auto;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    gap: 90px;
    padding-inline: 50px;
    .top {
      .newsInfo {
        flex: 1 0 50%;
        .description {
          display: block;
        }
      }
      .undraw {
        flex: 0 0 30%;
        display: block;
      }
    }
    .grid {
      gap: 20px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: max-content;
      .content {
        border-radius: 30px;
      }
      .image {
        border-radius: 30px;
      }
    }
  }
}
