:global #burger {
  display: none;
}

.container {
  display: flex;
  z-index: 51;
  justify-content: space-between;
}

.spans {
  align-self: flex-end;
}

label {
  cursor: pointer;
}

input[type='checkbox'] + label {
  .iconBar {
    display: block;
    width: 35px;
    height: 5px;
    background-color: var(--clr-gray);
    margin: 4px;
    transition: all 0.2s;
  }
  .topBar {
    transform: rotate(0);
  }
  .middleBar {
    opacity: 1;
  }
}

input[type='checkbox']:checked + label {
  .topBar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middleBar {
    opacity: 0;
  }
  .bottomBar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    display: none;
  }
}
