@import '../../../scss/mixins';

.wrapper {
  @include flex($wrap: wrap);
  position: relative;
  background-color: #fff;
  padding: 40px;
  justify-content: center;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  max-width: 767px;
  height: auto;
  gap: 75px;
  transition: transform 0.3s ease-in-out;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 256px;
    max-width: 257px;
  }
  @media screen and (min-width: 1200px) {
    padding: 80px;
    padding-left: 20px;
  }
  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
}

.dataWrapper {
  .title {
    font-size: 30px;
  }

  .dataContent {
    margin-bottom: 26px;
  }

  .statusTitle {
    text-transform: uppercase;
    color: var(--clr-primary);
  }
}
