.container {
  width: 100%;
  justify-content: center;
  .row {
    display: flex;
    padding: 10px 60px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: var(--clr-darkgray);
    .socialMedia {
      a {
        display: flex;
        column-gap: 5px;
        text-decoration: none;
        svg {
          margin-block: auto;
        }
      }
    }
    & > h5 {
      margin-block: auto;
    }
    &:nth-of-type(2) {
      background-color: var(--clr-darkgray);
    }
  }
}
