.fullWidth {
  width: 100%;
}

.white {
  background-color: #fff;
  color: #000;
}

.gray {
  background-color: var(--clr-gray);
  color: #fff;
}

.darkgray {
  background-color: #24282e;
  color: #fff;
}
