.fullWidth {
  width: 100%;
}

.white {
  background-color: var(--clr-white);
  color: var(--clr-darkgray);
}

.gray {
  background-color: var(--clr-gray);
  color: var(--clr-white);
}

.darkgray {
  background-color: var(--clr-darkgray);
  color: var(--clr-white);
}

.lightblack {
  background-color: var(--clr-lightblack);
  color: var(--clr-white);
}
