.overlaySection {
  position: relative;
  background-color: var(--clr-white);
}

.overlay {
  position: sticky;
  height: calc(100vh + 4px);
  top: -2px;
  left: -2px;
  z-index: 20;
  overflow: hidden;
  contain: cover;
  pointer-events: none;
  margin-top: -1px;
  max-width: 100vw;
  will-change: auto;
}

.overlay div {
  transform-origin: center;
}
@media screen and (max-width: 414px) {
  .overlay {
    width: 100vw;
  }
}

.overlay svg {
  contain: cover;
  min-height: 150%;
  min-width: 150%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 414px) {
  .overlay svg.plus {
    min-height: 150%;
    min-width: 150%;
  }
}

.overlay svg path {
  transform-origin: center !important;
}
