@mixin transition {
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      transition: opacity 0.75s cubic-bezier(0.29, 0, 0.14, 0.98) #{$i * 0.1}s;
    }
  }
}

.element {
  display: flex;
  align-items: center;
  opacity: 0;
  @include transition;

  .link {
    font-size: var(--step--1);
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 110%;
      left: 0;
      right: 0;
      bottom: -7px;
      display: block;
      background-color: var(--clr-secondary);
      transform: scaleX(0);
      transform-origin: left;
      transition: all 700ms cubic-bezier(0.25, 0.99, 0.26, 0.97);
    }
    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }
  &:last-of-type {
    padding: 10px;
    background-color: var(--clr-secondary);
    width: min-content;
    &:hover {
      animation: move 1s ease-in-out alternate infinite;
    }
    .link {
      color: #fff;
      font-weight: 700;
    }
  }
}

@media screen and (min-width: 768px) {
  .element {
    opacity: 1;
  }
}

@keyframes move {
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}
