@import '../../../scss/mixins';

.stats {
  grid-column: 1 / 2;
  position: relative;
  padding: 70px 50px;
  &Image {
    max-width: 260px;
  }
  .edit {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--clr-secondary);
    display: flex;
    gap: 7px;
  }
  .right {
    @include flex($direction: column, $justify: space-around, $row-gap: var(--space-s-m));
  }
}
