.green {
  color: var(--clr-primary);
}
.gray {
  color: var(--clr-lightgray);
}

.star {
  color: var(--clr-secondary);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 100px;
  flex-direction: column;
  .imgTop {
    width: 435px;
    aspect-ratio: 1/1;
  }
  .title {
    h1 {
      color: var(--clr-primary);
    }
  }
}

.bottom {
  display: flex;
  justify-content: center;
  .stepTitle {
    color: var(--clr-primary);
  }

  .stepOne {
    &Submit {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 20px;
      margin-top: 50px;
      .checkbox {
        flex: 1 0 100%;
        input {
          margin-right: 5px;
          margin-top: 0.35em;
        }
        &:last-of-type {
          margin-bottom: 50px;
        }
      }
    }

    &Button {
      cursor: pointer;
      background-color: var(--clr-primary);
      padding: 10px;
      border: 0;
      color: var(--clr-white);
      text-transform: uppercase;
      transition: all 0.3s ease-out;
      &:disabled {
        background-color: var(--clr-lightgray);
        color: var(--clr-white);
        cursor: not-allowed;
      }
    }

    &Group {
      margin-block: 50px;
    }
    &Label {
      display: flex;
      flex-direction: column;

      &Text {
        margin-bottom: 25px;
        font-weight: 700;
        font-size: var(--step-0);
      }
      &Error {
        color: var(--clr-error);
      }
      &Success {
        color: var(--clr-primary);
      }
    }
    &Input {
      width: 100%;
      background: var(--clr-white);
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
      padding: 13px 17px;
      border: 0;
      transition: box-shadow 0.2s ease-out;
      &:focus,
      &:focus-visible,
      &:active {
        outline: none;
        border: 0;
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1), inset 0 -4px 0 var(--clr-lightgray);
      }
      &Success {
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1), inset 0 -4px 0 var(--clr-primary);
      }
      &Error {
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1), inset 0 -4px 0 var(--clr-error);
      }
    }
    &PwdDots {
      display: flex;
      flex-direction: column;
      margin-block: 20px;
      & > span {
        margin-block: 8px;
        margin-left: 13px;
        font-size: var(--step--1);
      }
      & > * > svg {
        margin-right: 5px;
      }
    }
    &Error {
      color: var(--clr-error);
    }
  }
  .asideColumn {
    contain: 'backgroundLeft';
    position: relative;
  }
  .form {
    flex: 1 0 70%;
    min-width: 300px;
    margin-bottom: 100px;
    &Error {
      color: var(--clr-error);
    }
  }
}

@media screen and (min-width: 768px) {
  .top {
    flex-direction: row;
  }
  .bottom {
    .form {
      padding: 65px var(--space-l-xl);
      box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    }
    .asideColumn {
      background-image: url('../../assets/graphics/registerAside.jpg');
      opacity: 70%;
      box-shadow: rgba(52, 81, 122, 0.1) -24px -9px 19px inset;
      background-attachment: fixed;
      background-position: left;
      flex: 0 1 20%;
      &:nth-of-type(2) {
        box-shadow: rgba(52, 81, 122, 0.1) 24px -9px 19px inset;
      }
    }
  }
}
