.green {
  color: green;
}
.gray {
  color: gray;
}
.stepOne__input__error {
  border-bottom: 2px solid red;
}

.stepOne__input__success {
  border-bottom: 2px solid green;
}

.stepOne__label__error {
  color: red;
}

.stepOne__label__success {
  color: green;
}
