.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin-bottom: 100px;

  .partners {
    flex-wrap: wrap;
    max-width: 1100px;
    display: flex;
    min-height: 300px;
    gap: var(--space-xl-2xl);

    .left {
      flex: 0 0 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-inline: auto;
      gap: var(--space-l-xl);

      .title {
        margin: 0;
      }
    }

    .right {
      flex: 0 0 #{'min(100%, 400px)'};
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 50px;
      margin-inline: auto;
      place-items: center;

      .logo {
        max-height: 70px;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .container {
    .partners {
      flex-wrap: nowrap;

      .left {
        text-align: right;
        flex: 0 0 50%;
      }
    }
  }
}
