.container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  .circleGroup {
    width: fit-content;
    margin-inline: auto;
    margin-block: 15px;
    order: 1;
  }
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    .circleGroup {
      order: 2;
    }
  }
}
