.container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  .mainSection {
    max-width: 550px;
    min-height: 360px;
    order: 2;
    padding-top: 5px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 35px;
    .subTitle {
      display: none;
      max-width: 9ch;
      font-weight: 600;
      color: var(--clr-primary);
      text-transform: uppercase;
    }

    .title {
      max-width: 12ch;
      text-transform: uppercase;
    }

    .description {
      // margin-block: 35px;
      width: 100%;
    }
  }

  .circleGroup {
    width: fit-content;
    margin-inline: auto;
    margin-block: 15px;
    order: 1;
  }
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    .mainSection {
      padding-top: 40px;
      order: 1;
      .subTitle {
        display: block;
      }
    }
    .circleGroup {
      order: 2;
    }
  }
}
