.button {
  text-decoration: none;
  font-weight: 700;
  font-family: var(--font-secondary);
  font-size: var(--step-0);
  color: black;
  position: relative;
  display: block;
  width: min-content;
  margin-inline: auto;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    bottom: -7px;
    display: block;
    z-index: -1;
    background-color: var(--clr-primary);
    transition: all 700ms cubic-bezier(0.25, 0.99, 0.26, 0.97);
  }

  &:hover {
    color: white;

    &::after {
      top: -7px;
      left: -5px;
      right: -5px;
    }
  }
}

@media screen and (min-width: 768px) {
  .button {
    margin-inline: auto 0;
  }
}
