.container {
  --height: 100px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    aspect-ratio: 1 / 4.19;
    width: #{'clamp(175px, 20vw, 250px)'};
    max-height: var(--height);
  }
  input[type='checkbox']:checked ~ nav {
    left: 0;
    & > ul > li {
      opacity: 1;
    }
  }
}
