.container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 50px;
  min-height: 0vh;
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 60px;
  text-align: center;
  .circleGroup {
    width: fit-content;
    height: fit-content;
    margin-inline: auto;
    margin-block: 15px;
  }
  .circlesBottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    &:last-of-type {
      bottom: 0;
      left: 0;
      transform: scaleX(-1);
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
    text-align: left;
    margin-bottom: 200px;
    .circlesBottom {
      width: 10%;
    }
  }
}
