.notFull {
  /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector */
  & > *:not(:nth-child(-n + 2)) {
    display: none;
  }
}

.full {
  /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector */
  & > *:not(:nth-child(-n + 2)) {
    display: block;
    margin-top: 1em;
  }
}
