*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  position: relative;
}

body {
  background-color: var(--clr-white);
  color: var(--clr-darkgray);
}

img {
  max-width: 100%;
}

input {
  &::placeholder {
    color: var(--clr-lightgray);
    font-style: italic;
  }
}

textarea {
  &::placeholder {
    color: var(--clr-lightgray);
    font-style: italic;
  }
}

input[type='text'],
input[type='textarea'],
input[type='email'] {
  appearance: none;
  appearance: none;
  appearance: none;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--step--1);
}

a {
  color: var(--clr-primary);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

[contenteditable='true']:focus {
  outline: none;
}

strong {
  font-weight: 700 !important;
}
