*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:where(:last-child) {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  color: black;
}

img {
  max-width: 100%;
}
