@mixin flex($direction: null, $justify: null, $align: null, $wrap: null, $row-gap: null, $column-gap: null) {
  display: flex;
  @if $direction != null {
    flex-direction: $direction;
  }
  @if $justify != null {
    justify-content: $justify;
  }
  @if $align != null {
    align-items: $align;
  }
  @if $wrap != null {
    flex-wrap: $wrap;
  }
  @if $row-gap != null {
    row-gap: $row-gap;
  }
  @if $column-gap != null {
    column-gap: $column-gap;
  }
}
