@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@300;700&display=swap');

:root {
  --step--2: #{'clamp(0.72rem, calc(0.80rem + -0.08vw), 0.78rem)'};
  --step--1: #{'clamp(0.90rem, calc(0.95rem + -0.05vw), 0.94rem)'};
  --step-0: #{'clamp(1.13rem, calc(1.13rem + 0.00vw), 1.13rem)'};
  --step-1: #{'clamp(1.35rem, calc(1.33rem + 0.08vw), 1.41rem)'};
  --step-2: #{'clamp(1.62rem, calc(1.58rem + 0.19vw), 1.76rem)'};
  --step-3: #{'clamp(1.94rem, calc(1.87rem + 0.34vw), 2.20rem)'};
  --step-4: #{'clamp(2.33rem, calc(2.22rem + 0.56vw), 2.75rem)'};
  --step-5: #{'clamp(2.80rem, calc(2.63rem + 0.86vw), 3.43rem)'};

  //Fonts
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 1.35;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

h4 {
  font-size: var(--step-0);
}

h5 {
  font-size: var(--step--1);
}
